USE [master]
GO
/****** Object:  Database [DATHINH]    Script Date: 1/8/2021 8:01:44 PM ******/
CREATE DATABASE [DATHINH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATHINH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DATHINH.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DATHINH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DATHINH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATHINH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATHINH]
GO
/****** Object:  UserDefinedFunction [dbo].[func_CryptData]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create function [dbo].[func_CryptData] (@Data varchar(100))
returns varchar(256)
as
begin
return convert(varchar(256),HASHBYTES('SHA2_256',@Data),2)
end


GO
/****** Object:  Table [dbo].[BUOIHOC]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUOIHOC](
	[IDBUOIHOC] [int] IDENTITY(1,1) NOT NULL,
	[DAY] [nvarchar](255) NULL,
 CONSTRAINT [PK_BUOIHOC] PRIMARY KEY CLUSTERED 
(
	[IDBUOIHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAHOC]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAHOC](
	[IDCAHOC] [int] IDENTITY(1,1) NOT NULL,
	[SOCA] [nvarchar](250) NULL,
 CONSTRAINT [PK_CAHOC] PRIMARY KEY CLUSTERED 
(
	[IDCAHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COSO]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[IDCOSO] [int] IDENTITY(1,1) NOT NULL,
	[TENCS] [nvarchar](255) NULL,
	[PHONGHOC] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCOSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUCSK]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSK](
	[IDDANHMUC] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[IDSTUDENT] [int] NOT NULL,
	[DIEMTB] [float] NULL,
	[STCDAT] [int] NULL,
	[IDDIEM] [int] IDENTITY(1,1) NOT NULL,
	[TONGDIEM] [float] NULL,
	[IDMONHOC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS](
	[IDEVENTS] [int] IDENTITY(1,1) NOT NULL,
	[TENEVENT] [nvarchar](255) NULL,
	[THOIGIANEV] [datetime] NULL,
	[IDUSER] [int] NOT NULL,
	[IDDANHMUC] [int] NOT NULL,
	[HINH] [nvarchar](250) NULL,
	[MOTA] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEVENTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[IDHOCKY] [int] IDENTITY(1,1) NOT NULL,
	[TENHOCKY] [nvarchar](255) NULL,
	[IDNAM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHHOCTUAN]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHHOCTUAN](
	[IDLICHHOC] [int] IDENTITY(1,1) NOT NULL,
	[SOBUOIHOC] [int] NOT NULL,
	[IDBUOIHOC1] [int] NOT NULL,
	[IDCAHOC1] [int] NOT NULL,
	[IDBUOIHOC2] [int] NULL,
	[IDCAHOC2] [int] NULL,
	[IDBUOIHOC3] [int] NULL,
	[IDCAHOC3] [int] NULL,
 CONSTRAINT [PK_LICHHOCTUAN] PRIMARY KEY CLUSTERED 
(
	[IDLICHHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[IDMONHOC] [int] IDENTITY(1,1) NOT NULL,
	[TENMONHOC] [nvarchar](255) NULL,
	[IDMONTIENQUYET] [int] NULL,
	[TINCHI] [int] NULL,
	[IDHOCKY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[IDNAM] [int] IDENTITY(1,1) NOT NULL,
	[TENNAM] [datetime] NULL,
	[IDNGANH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[IDNGANH] [int] IDENTITY(1,1) NOT NULL,
	[NAMENGANH] [nvarchar](255) NULL,
	[IDNIENKHOA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIENKHOA]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIENKHOA](
	[IDNIENKHOA] [int] IDENTITY(1,1) NOT NULL,
	[NAMENIENKHOA] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNIENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[IDPERMISSION] [int] IDENTITY(1,1) NOT NULL,
	[NAMEPERMISSION] [nvarchar](55) NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPERMISSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[IDROLE] [int] IDENTITY(1,1) NOT NULL,
	[NAMEROLE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[IDSTUDENT] [int] IDENTITY(1,1) NOT NULL,
	[IDUSER] [int] NOT NULL,
	[MSSV] [int] NULL,
	[IDNGANH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSTUDENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIETHOC]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIETHOC](
	[IDTIETHOC] [int] IDENTITY(1,1) NOT NULL,
	[SOTIETHOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTIETHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TKB]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKB](
	[IDTKB] [int] IDENTITY(1,1) NOT NULL,
	[IDSTUDENT] [int] NOT NULL,
	[THOIGIANBATDAU] [datetime] NULL,
	[THOIGIANKETTHUC] [datetime] NULL,
	[IDMONHOC] [int] NOT NULL,
	[IDCOSO] [int] NOT NULL,
	[IDTIETHOC] [int] NOT NULL,
	[IDLICHHOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[IDUSER] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](255) NULL,
	[PASSWORD] [nvarchar](300) NULL,
	[FULLNAME] [nvarchar](255) NULL,
	[PHONE] [nvarchar](12) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[IDROLE] [int] NOT NULL,
	[IDPERMISSION] [int] NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BUOIHOC] ON 

INSERT [dbo].[BUOIHOC] ([IDBUOIHOC], [DAY]) VALUES (1, N'Thứ 2')
INSERT [dbo].[BUOIHOC] ([IDBUOIHOC], [DAY]) VALUES (2, N'Thứ 3')
INSERT [dbo].[BUOIHOC] ([IDBUOIHOC], [DAY]) VALUES (3, N'Thứ 4')
SET IDENTITY_INSERT [dbo].[BUOIHOC] OFF
SET IDENTITY_INSERT [dbo].[CAHOC] ON 

INSERT [dbo].[CAHOC] ([IDCAHOC], [SOCA]) VALUES (1, N'Ca 1 (tiết 1,2,3): từ 06g45'' đến 09g00'' ')
INSERT [dbo].[CAHOC] ([IDCAHOC], [SOCA]) VALUES (2, N'Ca 2 (tiết 4,5,6): từ 09g20'' đến 11g35''')
INSERT [dbo].[CAHOC] ([IDCAHOC], [SOCA]) VALUES (3, N'Ca 3 (tiết 7,8,9): từ 12g30'' đến 14g45''')
SET IDENTITY_INSERT [dbo].[CAHOC] OFF
SET IDENTITY_INSERT [dbo].[COSO] ON 

INSERT [dbo].[COSO] ([IDCOSO], [TENCS], [PHONGHOC]) VALUES (1, N'E', N'P.01.02')
SET IDENTITY_INSERT [dbo].[COSO] OFF
SET IDENTITY_INSERT [dbo].[DANHMUCSK] ON 

INSERT [dbo].[DANHMUCSK] ([IDDANHMUC], [TENDANHMUC]) VALUES (1, N'Tuyển Sinh')
INSERT [dbo].[DANHMUCSK] ([IDDANHMUC], [TENDANHMUC]) VALUES (2, N'Phòng cộng tác sinh viên')
INSERT [dbo].[DANHMUCSK] ([IDDANHMUC], [TENDANHMUC]) VALUES (3, N'Hoạt động sinh viên')
SET IDENTITY_INSERT [dbo].[DANHMUCSK] OFF
SET IDENTITY_INSERT [dbo].[DIEM] ON 

INSERT [dbo].[DIEM] ([IDSTUDENT], [DIEMTB], [STCDAT], [IDDIEM], [TONGDIEM], [IDMONHOC]) VALUES (1, 5, 3, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[DIEM] OFF
SET IDENTITY_INSERT [dbo].[EVENTS] ON 

SET IDENTITY_INSERT [dbo].[EVENTS] OFF
SET IDENTITY_INSERT [dbo].[HOCKY] ON 

INSERT [dbo].[HOCKY] ([IDHOCKY], [TENHOCKY], [IDNAM]) VALUES (1, N'Học kỳ 1', 1)
INSERT [dbo].[HOCKY] ([IDHOCKY], [TENHOCKY], [IDNAM]) VALUES (2, N'Học kỳ 2', 1)
INSERT [dbo].[HOCKY] ([IDHOCKY], [TENHOCKY], [IDNAM]) VALUES (3, N'Học Kỳ 3', 1)
SET IDENTITY_INSERT [dbo].[HOCKY] OFF
SET IDENTITY_INSERT [dbo].[LICHHOCTUAN] ON 

INSERT [dbo].[LICHHOCTUAN] ([IDLICHHOC], [SOBUOIHOC], [IDBUOIHOC1], [IDCAHOC1], [IDBUOIHOC2], [IDCAHOC2], [IDBUOIHOC3], [IDCAHOC3]) VALUES (1, 2, 1, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[LICHHOCTUAN] ([IDLICHHOC], [SOBUOIHOC], [IDBUOIHOC1], [IDCAHOC1], [IDBUOIHOC2], [IDCAHOC2], [IDBUOIHOC3], [IDCAHOC3]) VALUES (5, 3, 1, 2, 3, 3, 5, 1)
INSERT [dbo].[LICHHOCTUAN] ([IDLICHHOC], [SOBUOIHOC], [IDBUOIHOC1], [IDCAHOC1], [IDBUOIHOC2], [IDCAHOC2], [IDBUOIHOC3], [IDCAHOC3]) VALUES (6, 3, 3, 3, 3, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[LICHHOCTUAN] OFF
SET IDENTITY_INSERT [dbo].[MONHOC] ON 

INSERT [dbo].[MONHOC] ([IDMONHOC], [TENMONHOC], [IDMONTIENQUYET], [TINCHI], [IDHOCKY]) VALUES (1, N'Lập Trình C', 0, 3, 1)
INSERT [dbo].[MONHOC] ([IDMONHOC], [TENMONHOC], [IDMONTIENQUYET], [TINCHI], [IDHOCKY]) VALUES (2, N'Đại số tuyến tính', 0, 3, 1)
INSERT [dbo].[MONHOC] ([IDMONHOC], [TENMONHOC], [IDMONTIENQUYET], [TINCHI], [IDHOCKY]) VALUES (3, N'Đường lối cách mạng của Đảng CSVN', 0, 3, 1)
SET IDENTITY_INSERT [dbo].[MONHOC] OFF
SET IDENTITY_INSERT [dbo].[NAMHOC] ON 

INSERT [dbo].[NAMHOC] ([IDNAM], [TENNAM], [IDNGANH]) VALUES (1, CAST(N'2016-01-01 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NAMHOC] ([IDNAM], [TENNAM], [IDNGANH]) VALUES (2, CAST(N'2017-01-01 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[NAMHOC] ([IDNAM], [TENNAM], [IDNGANH]) VALUES (3, CAST(N'2018-01-01 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[NAMHOC] OFF
SET IDENTITY_INSERT [dbo].[NGANH] ON 

INSERT [dbo].[NGANH] ([IDNGANH], [NAMENGANH], [IDNIENKHOA]) VALUES (1, N'Công Nghệ Thông Tin', 1)
INSERT [dbo].[NGANH] ([IDNGANH], [NAMENGANH], [IDNIENKHOA]) VALUES (2, N'Quản Trị Kinh Doanh', 1)
INSERT [dbo].[NGANH] ([IDNGANH], [NAMENGANH], [IDNIENKHOA]) VALUES (3, N'Ngôn Ngữ Anh', 1)
SET IDENTITY_INSERT [dbo].[NGANH] OFF
SET IDENTITY_INSERT [dbo].[NIENKHOA] ON 

INSERT [dbo].[NIENKHOA] ([IDNIENKHOA], [NAMENIENKHOA]) VALUES (1, N'2016-2020')
INSERT [dbo].[NIENKHOA] ([IDNIENKHOA], [NAMENIENKHOA]) VALUES (2, N'2017-2021')
INSERT [dbo].[NIENKHOA] ([IDNIENKHOA], [NAMENIENKHOA]) VALUES (3, N'2018-2022')
SET IDENTITY_INSERT [dbo].[NIENKHOA] OFF
SET IDENTITY_INSERT [dbo].[PERMISSION] ON 

INSERT [dbo].[PERMISSION] ([IDPERMISSION], [NAMEPERMISSION], [STATUS]) VALUES (1, N'Tất cả', 1)
INSERT [dbo].[PERMISSION] ([IDPERMISSION], [NAMEPERMISSION], [STATUS]) VALUES (2, N'Thêm ', 1)
INSERT [dbo].[PERMISSION] ([IDPERMISSION], [NAMEPERMISSION], [STATUS]) VALUES (3, N'Xóa', 1)
SET IDENTITY_INSERT [dbo].[PERMISSION] OFF
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([IDROLE], [NAMEROLE]) VALUES (1, N'Quản lý ')
INSERT [dbo].[ROLE] ([IDROLE], [NAMEROLE]) VALUES (2, N'Nhân viên')
INSERT [dbo].[ROLE] ([IDROLE], [NAMEROLE]) VALUES (3, N'Sinh viên')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
SET IDENTITY_INSERT [dbo].[STUDENT] ON 

INSERT [dbo].[STUDENT] ([IDSTUDENT], [IDUSER], [MSSV], [IDNGANH]) VALUES (1, 2, 1611060973, 1)
SET IDENTITY_INSERT [dbo].[STUDENT] OFF
SET IDENTITY_INSERT [dbo].[TIETHOC] ON 

INSERT [dbo].[TIETHOC] ([IDTIETHOC], [SOTIETHOC]) VALUES (1, 1)
INSERT [dbo].[TIETHOC] ([IDTIETHOC], [SOTIETHOC]) VALUES (2, 2)
INSERT [dbo].[TIETHOC] ([IDTIETHOC], [SOTIETHOC]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[TIETHOC] OFF
SET IDENTITY_INSERT [dbo].[TKB] ON 

INSERT [dbo].[TKB] ([IDTKB], [IDSTUDENT], [THOIGIANBATDAU], [THOIGIANKETTHUC], [IDMONHOC], [IDCOSO], [IDTIETHOC], [IDLICHHOC]) VALUES (5, 1, CAST(N'2020-12-12 00:00:00.000' AS DateTime), CAST(N'2020-12-31 00:00:00.000' AS DateTime), 2, 1, 3, 1)
INSERT [dbo].[TKB] ([IDTKB], [IDSTUDENT], [THOIGIANBATDAU], [THOIGIANKETTHUC], [IDMONHOC], [IDCOSO], [IDTIETHOC], [IDLICHHOC]) VALUES (6, 1, CAST(N'2020-12-01 00:00:00.000' AS DateTime), CAST(N'2020-12-20 00:00:00.000' AS DateTime), 3, 1, 3, 1)
INSERT [dbo].[TKB] ([IDTKB], [IDSTUDENT], [THOIGIANBATDAU], [THOIGIANKETTHUC], [IDMONHOC], [IDCOSO], [IDTIETHOC], [IDLICHHOC]) VALUES (1009, 1, CAST(N'2021-01-01 00:00:00.000' AS DateTime), CAST(N'2021-01-20 00:00:00.000' AS DateTime), 4, 1, 3, 5)
SET IDENTITY_INSERT [dbo].[TKB] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([IDUSER], [USERNAME], [PASSWORD], [FULLNAME], [PHONE], [ADDRESS], [IDROLE], [IDPERMISSION], [EMAIL]) VALUES (1, N'thinh', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'Vòng Phước Thịnh', N'0123456789', N'Tân Bình', 1, 1, N'thinh@gmail.com')
INSERT [dbo].[USER] ([IDUSER], [USERNAME], [PASSWORD], [FULLNAME], [PHONE], [ADDRESS], [IDROLE], [IDPERMISSION], [EMAIL]) VALUES (2, N'sinhvien', N'A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3', N'sinhvien', N'0339895154', N'hcm', 3, 4, N'sinhvien1998@gmail.com')
SET IDENTITY_INSERT [dbo].[USER] OFF
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([IDMONHOC])
REFERENCES [dbo].[MONHOC] ([IDMONHOC])
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([IDSTUDENT])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([IDDANHMUC])
REFERENCES [dbo].[DANHMUCSK] ([IDDANHMUC])
GO
ALTER TABLE [dbo].[EVENTS]  WITH CHECK ADD FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[HOCKY]  WITH CHECK ADD FOREIGN KEY([IDNAM])
REFERENCES [dbo].[NAMHOC] ([IDNAM])
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD FOREIGN KEY([IDHOCKY])
REFERENCES [dbo].[HOCKY] ([IDHOCKY])
GO
ALTER TABLE [dbo].[NAMHOC]  WITH CHECK ADD FOREIGN KEY([IDNGANH])
REFERENCES [dbo].[NGANH] ([IDNGANH])
GO
ALTER TABLE [dbo].[NGANH]  WITH CHECK ADD FOREIGN KEY([IDNIENKHOA])
REFERENCES [dbo].[NIENKHOA] ([IDNIENKHOA])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([IDNGANH])
REFERENCES [dbo].[NGANH] ([IDNGANH])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD FOREIGN KEY([IDCOSO])
REFERENCES [dbo].[COSO] ([IDCOSO])
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD FOREIGN KEY([IDMONHOC])
REFERENCES [dbo].[MONHOC] ([IDMONHOC])
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENT] ([IDSTUDENT])
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD FOREIGN KEY([IDTIETHOC])
REFERENCES [dbo].[TIETHOC] ([IDTIETHOC])
GO
ALTER TABLE [dbo].[TKB]  WITH CHECK ADD  CONSTRAINT [FK_TKB_LICHHOCTUAN] FOREIGN KEY([IDLICHHOC])
REFERENCES [dbo].[LICHHOCTUAN] ([IDLICHHOC])
GO
ALTER TABLE [dbo].[TKB] CHECK CONSTRAINT [FK_TKB_LICHHOCTUAN]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([IDPERMISSION])
REFERENCES [dbo].[PERMISSION] ([IDPERMISSION])
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([IDROLE])
REFERENCES [dbo].[ROLE] ([IDROLE])
GO
/****** Object:  StoredProcedure [dbo].[proc_CryptData]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_CryptData] (@Data varchar(255))
as
begin
declare @Result varchar(256)
set @Result = dbo.func_CryptData(@Data)
select top 1 @Result
end



GO
/****** Object:  Trigger [dbo].[trg_AutoCryptPassword]    Script Date: 1/8/2021 8:01:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_AutoCryptPassword] on [dbo].[USER]
for insert, update
as
begin
	if UPDATE([password])
	begin
		declare @id int
		declare @Password varchar(256)
		select @Password = [PASSWORD], @id = IDUSER from inserted
		set @Password = dbo.func_CryptData(@Password)
		update [USER] set [PASSWORD] = @Password where IDUSER = @id
	end
end



GO
USE [master]
GO
